@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}
.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.panel {
  height: 80vh;
  width: 80px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: width 0.5s ease;
}

.panel h3 {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: white;
  display: none;
}

.panel.active h3 {
  display: block;
}

.active {
  width: 1200px;
}
